.autocomplete-dropdown-container {
  position: absolute; top:auto; left:auto; background:#fff; z-index:10;
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
  max-height:320px; overflow:hidden; overflow-y:auto;

}
.suggestion-item {
  padding:6px  8px;
  text-align: left;
  background-color: #fff!important;
  cursor: pointer!important;
  font-size: 12px;
  border-bottom: 1px solid honeydew;
}
.suggestion-item:hover{padding:6px 8px; font-size:12px; background-color:#eee!important;}
.suggestion-item--active{padding:6px 8px; font-size:12px; background-color:#eee!important;}