body {
    background-color: #f9f9f9;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #1b1b1b;
    line-height: 1.55;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    z-index: 2;
    position: relative;
}

h1 {
    margin-top: 100px; 
    margin-bottom: 52px;
}

.cookies-dismiss {
    display: inline-block !important;
    margin: 0 !important;
}

h2, h3, a {
    font-weight: 600;
}

input, textarea {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 12px 20px;
    background-color: #f3f3f3;
    margin-bottom: 32px;
    outline: none;
    resize: none;
    min-height: 48px;
}

textarea {
    height: 120px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    color: #b9b9b9;
}

h2 {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 1.5;
}

h3{
    font-size: 15px;
}



.top-menu-adaptive {
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    min-height: 62px;
}

#menu-notifications {
    background-image: url(../images/notifications.png);
    width: 20px;
    height: 20px;
    z-index: 3;
    position: absolute;
    background-size: contain;
    right: 60px;
    top: 2px;
    cursor: pointer;
}

.pros-info-inner {
    padding-top: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.logo-localnano {
    height: 17px !important;
    position: relative;
    top: -4px;
}

.logo-language {
    float: left;
    width: 220px;
    position: absolute;
    left: 0;
    top: 0;
}

.logo-language span {
    position: relative;
    top: 0px;
}

.hello-balance-notifications {
    width: 100%;
    text-align: center;
}


.dropdown-info h2 {
    cursor:pointer;
}

#globe-icon {
    height: 16px !important;
    margin-right: 4px;
    margin-left: 40px;
    position: relative;
    top: -1px;
}

#notifications-bell {
    cursor: pointer;
    width: 20px;
}
#menu-arrow {
    height: 8px;
    margin-left: 2px;
}

#wallet {
    position: absolute;
    right: 120px;
}

.search-toggle {
    width: 99%;
    margin-bottom: 30px;
}

.notifications-circle {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    font-size: 8px;
    padding: 2px 3px 2px;
    border-radius: 10px;
    border: 2px solid #182146;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 10px;
    top: -4px;
}



#nano-logo {
    height: 16px !important;
    margin-right: 4px;
}

#menu-stripes {
    position: absolute;
    height: 16px !important;
    float: right;
    top: 3px;
    right: 0;
    cursor: pointer;
}

.dropdown-info h2 {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    display: inline-block;
}


.dropdown-info p{
    margin: 16px 0 0 0;
    font-size: 13px;
}

.dropdown-info img {
    position: relative;
    top: 0px;
    height: 16px;
    /*right: 10px;*/
}

.wallet-balance {
    font-weight: 100;
}

.info-right h2 {
    margin-top: 48px;
    padding-top: 64px;
    margin-bottom: 48px;
    border-top: 1px solid lightgray;
}

a {
    color: #4a90e2;
    cursor: pointer;
    transition: 0.3s;
}

.info-terms img {
    height: 8px;
    margin-left: 8px;
}

#profile-intro {
    margin-top: 104px;
}

footer a:hover {
    color: #4a90e2;
}

.trade-canceled {
    font-size: 14px;
    color: #ce3939;
    font-weight: 500;
    margin-top: 0px;
    margin-left: 64px;
    margin-bottom: 64px;
}

.trade-completed {
    font-size: 14px;
    color: #32cd32;
    font-weight: 500;
    margin-top: 0px;
    margin-left: 64px;
    margin-bottom: 64px;
}


.right-info-text p{
    margin-top: 16px;
}

.right-info-text .button-big {
    margin-top: 16px;
}

.profile-info-text {
    padding-bottom: 52px;
}

div .sign-up {
    background-image: none !important;
    width: 54px !important;
    top: 0 !important;
}

div .sign-in {
    right: 160px !important;
    cursor: pointer;
}

.expandable-link {
    margin-top: 29px;
}

.expandable-link p {
    
}

.additional-payment-info {
    margin-top: 20px;
}

a:hover {
    text-decoration: none;
    transition: 0.3s;
    color: #243783 ;
}

h2.learn-more-title {
    margin-bottom: 20px;
    margin-top: 80px;
}

.profile-verifications img{
    display: inline-block;
    height: 14px;
    margin-right: 12px;
}

.nano-receive-code-description {
    margin-bottom: 4px;;
}

.profile-verifications p{
    display: inline-block;
    margin-bottom: 12px;
}

.nano-receive-code {
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 40px;
}

.qr-image {
    width: 80%;
   }

.h2-filter-link {
    font-size: 13px;
    font-weight: 500;
    margin-left: 12px;
    color: #4a90e2;
    cursor: pointer;
}

.h2-filter-link img {
    height: 8px;
    margin-left: 4px;
}

.privacy-protect-text {
    margin-top: 36px;
}

.qr-container {
    margin-top: 46px;
    margin-bottom: 46px;
}

#wallet-page h1 {
    padding-bottom: 10px;
}

.qr-text-button{
    width: 60%;
    display: inline-block;
}

.qr-text-button .button-big {
    margin-top: 10px;
}

#p-position {
    text-align: center;
}

.ta-center {
    
}

#p-position p{
    position: relative;
    top: 40px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}

#edit-profile .dropdown-toggle {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#warning-sign-in {
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}

.dashboard-ad-container img{
    height: 10px;
    margin-right: 6px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    width: 1170px;
}

.ads-container {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.browse-all-ads {
    border-top: 1px solid;
    margin: 0px 32px;
    padding: 12px 0px;
    text-align: center;
}

#similar-ads {
    margin-top: 20px;
}

.profile-info {
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.profile-info-container {
    margin: 20px 0;
    padding: 8px 32px 0;
    border-right: 1px solid;
}


#profile-page .streets-background {
    height: 600px;
}

.profile-info-container label{
    margin: 0;
}

.profile-stats {
    position: relative;
    top: -32px;
}

.profile-stats-container {
    background-color: white;
    padding: 24px 32px 12px 32px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.profile-stats-container p {
    float: right;
    font-size: 16px;
    font-weight: 600;
    border-radius: 2px;
}

#stats-left {
    margin-right: 4px;
}

#stats-center {
    margin-left: 4px;
    margin-right: 4px;
}

#stats-right {
    margin-left: 4px;
}

.profile-info-container p  {
    font-size: 15px;
    font-weight: 500;
}

.form-custom, .dropdown-info {
    background-color: white;
    padding: 32px;
    margin-bottom: 16px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.form-custom .form-with-text {
    margin-bottom: 36px;
    border-bottom: 1px solid;
    padding-bottom: 8px;
}

.feedback-radio img{
    height: 32px;
    margin-right: 10px;
}

.empty-table-row {
    text-align: center;
    color: rgba(0,0,0,0.3);
}

.form-noaddons form {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.online-green {
    margin-left: 4px;
}

.form-noaddons form .button-big{
    margin-bottom: 0;
}

.dropdown-info {
    padding: 24px 32px;
    position: relative;
}

.ads {
    border-top: 1px solid;
    margin: 0px 32px;
    padding: 22px 0px;
}

img.collapse-arrow {
    position: absolute;
    right: 20px;
    top: 30px;
    height: 10px;
    cursor: pointer;
}

.form-custom form, .ads, .browse-all-ads, .profile-info-container {
    border-color: #efefef;
}

.ads-heads {
    background-color: white;
    border-radius: 2px 2px 0px 0px;
    padding: 16px 32px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.ads-heads a {
    cursor: default;
}

.ads-heads a:hover {
    color: #4a90e2;
}

.online-green, .online-orange, .online-gray{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0px 1px 4px;
}

.profile-name-online {
    position: relative;
    top: -4px;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin-left: 10px;
    
}

.rating-preview {
    margin-left: 6px;
}

.online-orange {
    background-color: coral;
}

.online-gray {
    background-color: gainsboro;
}

.online-green {
    background-color: limegreen;
}

.chat-typing-warning {
    text-align: center;
    background-color: #fafafa;
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 12px;
    color: #b9b9b9;
}

.pagination {
    margin: 0;
}
.pagination-element {
    display: inline-block;
    padding: 8px 0;
}
.pagination a {
    font-size: 12px;
    padding: 8px 12px;
    margin: 0;
}

.margin-first-label {
    margin-top: 0 !important;
}

.dob-container input {
    width: 100% !important;
}

.dob-container .dropdown-toggle {
    width: 100% !important;
}

.pagination-first
{
    border-left: 1px solid #efefef;
}

.pagination-last
{
    border-right: 1px solid #efefef;
}

.create-ad-form .dropdown-toggle {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.bootstrap-select.form-control:not([class*=col-]) {
    width: 99%;
}

#home-page .bootstrap-select.form-control:not([class*=col-]) {
    width: 100%;
    margin-top: -2px;
}

#home-page .bootstrap-select>.dropdown-toggle {
        border-radius: 0 !important;
    box-shadow: none;
    border-right: 1px solid lightgray !important;
}

.input-mtop-20 {
    margin-top: 20px;
}

.nano-price-widget label {
    margin: 32px 0 0 0;
}

.nano-price-widget h2 {
    margin-bottom: 0;
    margin-top: 32px;
}

.ads-search-container .dropdown-toggle-search {
    box-shadow: none;
}

.cookies-warning {
    position: fixed;
    width: 320px;
    bottom: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    display: inline-block;
    text-align: center;
    font-size: 13px;
    padding: 32px;
    z-index: 9;
}
.nano-price-widget {
    margin-bottom: 32px;
}

.create-ad-form textarea{
    height: 92px;
    margin: 0;
}

.create-ad-form
{
    position: relative;
    top: -100px;
    margin-top: 0 !important;
}

.equation-checkbox {
    margin-bottom: 8px;
    margin-top: 4px;
}

.create-ad-form .feedback-radio {
    margin-top: 30px;
    margin-bottom: 20px;
}

.create-ad-form .side-menu-separator {
    margin-top: 20px;
    margin-bottom: 30px;
}

.create-ad-form .input-with-text{
    margin-bottom: 16px;
}

.create-ad-form .lonely-button {
    margin-top: 24px;
}

a.pagination-active {
    cursor: not-allowed;
    color: lightgray;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}

.input-info-container {
    margin-top: 4px;
}

#trusted-page .tab-content {
    margin-top: 32px;
}

input {
    width: 99%;
}

.filter-button {
    margin: 28px 0 0;
}

.pagination-disabled {
    margin: auto 12px;
}

.pagination-active {
    font-size: 12px;
    font-weight: 600;
    color: lightgray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.pagination-section-container {
    background-color: white;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 6px 0;
}

.section-wrap {
    margin-bottom: 48px;
}

#why-nano {
    text-align: center;
    padding: 32px 0 56px 0;
}


.white-bg {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.pros-element{
    padding: 8px;
}

#why-nano h2 {
    margin-bottom: 8px;
    font-size: 28px;
}

.narrow {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}



h1 {
    color: white;
    font-weight: 400;
    line-height: 1.33;
}

.pros-text {
    font-size: 13px;
    color: #6d6d6d;
    margin-bottom: 0;
}

.feedback-date{
    text-align: right;
}

.pros-container {
    padding: 64px 20px 64px 0;
}

.pros-container-left {
    padding-right: 40px;
    border-right: 1px solid #efefef;
}

.pros-container-center {
    padding-right: 40px;
    padding-left: 40px;
}

.pros-container-right {
    padding-left: 40px;
    border-left: 1px solid #efefef;
}

.no-border {
    border: none !important;
}

#menu-icons #menu-stripes {
    margin-left: 4px;
    height: 16px;
    cursor: not-allowed;
}

.icon {
    width: 14px;
    height: 14px;
}

.pros-info .icon {
    position: relative;
    top: -1px;
    margin-right: 10px;
}

.transaction-history
{
    padding: 20px 0 10px;
}

.dropdown-toggle {
    text-align: left;
    border-radius: 0;
    border: 0;
    background-color: white;
    padding: 14px 20px !important;
    position: relative;
}

.dropdown-toggle img {
    height: 8px;
    float: right;
    position: absolute;
    right: 20px;
    top: 21px;
}


.transaction-button {
    margin-top: 59px;
    margin-left: 12px;
}

.connection-line {
    height: 1px;
    width: 80%;
    margin: 56px 5% 0 7%;
    background-color: rgba(0,0,0,0.2);
}

.date-range-selection {
    margin-bottom: 20px;
}

p.faq-row-title {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.left-search-toggle {
    border-radius: 2px 0 0 2px;  
}

.right-search-toggle {
    border-radius: 0 2px 2px 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0,0,0,0.25) !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0,0,0,0.25) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0,0,0,0.25) !important;
}

#nano-logo-dark {
    display: inline;
    float: none;
    height: 11px;
    position: relative;
    top: -1px;
    left: 10px;
}

.small-message-container p
{
    margin-bottom: 0;
}

.dropdown-menu {
    padding: 0px 3px 8px;
    margin: 1px 0;
    border: none;
    width: 100%;
    border-radius: 2px;
    width: 99%;
}

.bootstrap-select.btn-group .no-results {
    background: transparent;
    padding: 16px 20px 12px;
    white-space: inherit;
    margin: 0;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.dropdown-menu>li>a {
    padding: 8px 20px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #4a90e2;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #4a90e2;
    background-color: #ffffff;
}

.ads-search-container .btn-group {
    width: 100%;
}

.pros-info .icon-infinite {
    height: 22px;
    width: 22px;
    position: relative;
    top: -2px;
}

h1 img{
    height: 27px;
    position: relative;
    top: -4px;
    padding: 0 6px 0 8px;
}

.ads-search-container {
    padding: 40px;
    border-radius: 3px;
    margin-top: 32px;
    border: 1px solid rgba(255,255,255,0.15);
}

#home-page h1 {
    text-align: center;
    margin-bottom: 12px;
}

.pros-info .icon, .pros-info h2 {
    display: inline-block;
}

.profile-overview {
    color: white;
    font-weight: 300;
}

.profile-overview h1 {
    margin: 100px 0 6px 0;
}

.social-icons-container img {
    height: 16px;
}

.profile-last-seen {
    font-size: 12px;
    opacity: 0.8;
}

.social-icons-container a{
    margin-right: 24px;
}

.profile-reputation {
    margin: 28px 0 32px;
}

.profile-reputation b{
    font-size: 18px;
    font-weight: 500;
}

#footer-logo {
    height: 20px;
}

footer a {
    color: white;
    font-weight: 500;
}

.menu-signed-in div {

}

button[disabled], html input[disabled] {
    cursor: default;
    background-color: transparent;
    border: 1px solid #eaeaea;
}

.bold {
    font-weight: 600;
}

.menu-signed-in {
    z-index: 2;
    color: white;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}

.streets-background {
    background: linear-gradient(90deg, #090b3d, #243986);
    position: absolute;
    width: 100%;
    height: 320px;
    top: 0;
    left: 0;
    z-index: -1;
    float: left;
}

.table-button {
    padding: 7px 28px;
    background: limegreen;
    position: absolute;
    right: 0;
    top: -5px;
    border-radius: 3px;
    color: white;
    font-size: 11px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.table-button:hover {
    color: white;
    background-color: #243783;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    transition: 0.3s;
}

#create-ad-page h1 {
    padding-bottom: 100px;
}

#trade-page-seller-info {
    padding-left: 60px;
}

.auth-radio {
    margin-bottom: 16px;
}

.auth-container .simple-page-container {
    margin-top: 0;
    position: relative;
    top: -100px;
}

.written-code-checkbox {
    margin-bottom: 12px;
    margin-top: 32px;
}

.ads-container-inner img {
    height: 16px;
    margin-right: 8px;
}

.text-page-styles p {
    margin: 4px 0 8px 0;
}

#notifications-page img {
    height: 12px;
}

.text-page-styles .expandable-link {
    margin: 5px 0;
}

#notifications-page h1 {
    text-align: center;
}

.inner-new-label {
    display: inline-block;
    float: left;
    margin-right: 4px;
}

.notifications-pagination {
    margin-top: 32px;
}

.inner-notifications {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 20px 0 12px;
}
 
.text-page-styles h1 {
    margin-bottom: 100px;
}

.text-page-styles h2 {
    margin: 40px 0 32px 0;
}

.text-page-styles .simple-page-container{
    position: relative;
    top: -42px;
    margin-top: 0;
}

.text-page-styles h3 {
    margin: 24px 0 16px 0;
}

h2.h2-page-subtitle {
    margin-top: 0;
}

.text-page-styles .info-terms{
    margin: 0;
}

h2.rules-guides-title {
    margin: 64px 0 20px 0;
    padding: 0;
}

.text-page-styles ul {
    padding-left: 16px;
}

#trade-page h1 {
    color: white;
    font-weight: 400;
    line-height: 1.33;
    padding-bottom: 100px;
    margin-bottom: 0;
}

.trade-info-shift {
    position: relative;
    top: -44px;
}

.feedback-text {
    font-weight: 600;
}

.feedback-text img{
    height: 24px;
    position: relative;
    top: -1px;
    margin-right: 12px;
}

.text-green {
    color: limegreen !important;
}

.text-align-center {
    text-align:center;
}

.text-align-right {
    text-align:right;
}

#signin-page .button-big, #signup-page .button-big{
    margin: 0 auto;
    display: inherit;
}

.your-advertisement-button {
    margin-top: 60px;
}

.gc-container {
    width: 305px;
    margin: 0 auto;
}

.stage-white-rectangle {
    width: 6px;
    height: 115px;
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: white;
}

.security-option-row label {
    margin-bottom: 0;
}

.timeline-container {
    margin-left: 64px;
}

.stage-blue-rectangle-1 {
    width: 2px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 7px;
    background-color: #4a90e2;
}

.stage-blue-rectangle-2 {
    width: 2px;
    height: 60px;
    position: absolute;
    top: 70px;
    left: 7px;
    background-color: #4a90e2;
}

.caret {
    color: #4a90e2;
}

#language-menu {
    display: none;
    width: 100px;
    z-index: 3;
    position: absolute;
    left: 40px;
    top: 40px;
    padding: 12px;
    text-align: center;
}
.home-search-select select {
    width: 100%;
}
.display-block {
    display: inline-block;
}

.timeline-graphic {
    width: 30px;
    display: inline-block;
    position: relative;
}

.timeline-info {
    width: 80%;
    display: inline-block;
    position: relative;
    top: -27px;
}

.faq-shift {
    position: relative;
    top:-32px;
}

.ads-container-inner {
    margin-top: 40px;
    margin-bottom: 40px;
}

#edit-profile h1 {
    margin-bottom: 68px;
    text-align: center;
}

.stage-white-circle {
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-bottom: 45px;
}

.feedback-tagline {
    margin-bottom: 92px;
    font-size: 15px;
}

.tagline-h1 {
    margin-bottom: 64px;
}

h1 a {
    font-weight: 500;
}

#feedback-page .ads-container{
    position: relative;
    top: -34px;
}

.left-input {
    width: 95% !important;
}


.dob-margin {
    margin-top: 32px;
    margin-bottom: 0px;
}

.lonely-button {
    margin: 0;
}

.simple-page-container {
    padding: 32px;
    margin: 40px 0;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.simple-inner-container
{
    padding: 32px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    position: relative;
    top: -100px;
}

.email-sent-icon {
    display: inline-block;
    height: 16px;
    margin-right: 8px;
}

.security-measure p{
    max-width: 90%
}

.security-option-row h2 {
    margin: 0;
}

.security-option-row p {
    margin: 0;
}


.bad-secutiry-option {
    color: red;
    float: right;
    display: inline;
}

.security-option-row span {
    color: red;
    font-weight: 500;
}

.security-container .side-menu-separator {
    margin: 20px 0;
}

.security-option-button {
    margin-top: 32px;
}

.security-option-row .col-md-4 {
    text-align: right;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #243783;
}

.nav-tabs {
    border-bottom: 1px solid transparent;
}


.nav-tabs>li>a:hover {
    border-color: #243783 #243783 #243783;
}

.display-none {
    display: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #f9f9f9;
}

.nav-tabs>li>a {
    background-color: rgba(255,255,255,0.1);
}

#sorting-menu {
    display: none;
    list-style: none;
    color: black;
    z-index: 4;
    background-color: white;
    text-align: left;
    width: 140px;
    position: absolute;
    right: 0;
    top: 39px;
    padding: 16px 3px;
    margin: 1px 0;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    z-index: 2;
}

#sorting-menu a{
    text-decoration: none;
    color: black;
    display: block;
    font-weight: 400;
    padding: 8px 20px;
}

.notifications-custom-popup {
    display: none;
    width: 340px;
    z-index: 3;
    position: absolute;
    right: 73px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    
}

.notifications-custom-popup img{
    height: 10px;
    position: relative;
    top:11px;
}

.notifications-custom-popup .new-img{
    position: relative;
    top: 35px;
}

.notification-icon-container {
    width: 30px;
}

.notification-text-container {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 12px 0px 9px;
}

a.pagination-before {
    padding-right: 8px;
}
a.pagination-after {
    padding-left: 8px;
}

.notifications-custom-popup p {
    margin-bottom: 0;
    font-size: 13px;
}

.notifications-browse {
    text-align: center;
    padding-top: 18px;
}

.notifications-custom-popup label {
    margin-bottom: 0;
}

#notification-settings-icon {
    height: 16px;
    float: right;
    top: 2px;
}

#notifications-title {
    margin-bottom: 4px;
}

.notification-label {
    background-color: coral;
    color: white;
    font-size: 11px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding: 0px 3px;
    margin-bottom: 4px;
}

.stage-blue-circle {
    background-color: #4a90e2;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    position: relative;
    top: 2px;
    left: 2px;
}

.text-red {
    color: #ce3939;
}

.text-orange {
    color: #f6865a;
}

.remove-agent-history {
    text-align: right;
}

.remove-agent-history img {
    height: 12px;
    margin-left: 8px;
}

footer {
    color: white;
    background: linear-gradient(90deg, #090b3d, #243986);
    padding: 40px 0;
}

#security-page h1 {
    margin-bottom: 24px;
}

.h2-addition {
    font-size: 12px;
    color: #b9b9b9;
    margin-left: 10px;
    font-weight: 400;
}

.signup-form {
    border: none;
    position: relative;
    top: -84px;
    margin-bottom: -84px;
}

.signup-form form {
    border: none;
    margin-bottom: 13px;
}

.signup-form .button-big {
    margin-bottom: 20px;
}

.input-error {
    border: 1px solid red;
    color: red;
    margin-bottom: 8px !important;
}

.input-group-addon {
    font-size: 14px !important;
    padding: 3px 16px 0px 12px !important;
    border: none;
    border-radius: 2px 0 0 2px !important;
}

.input-group .form-control:focus {
    z-index: 3;
    outline: none;
    box-shadow: none;
}

.input-group-lg>.form-control{
    height: 50px !important;
    border-radius: 0 2px 2px 0;
}

.dropdown-toggle {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.number-verification-text {
    margin-bottom: 20px;
}

.custom-input-addon {
    font-size: 14px !important;
    border: none;
    box-shadow: none;
    border: none;
    border-radius: 2px;
    padding: 12px 20px;
    background-color: #f3f3f3 !important;
    outline: none;
    line-height: 1.5;
}

.forgot-password-section {
    text-align: right;
    margin-bottom: 24px;
}


.small-message-container {
    top: -43px;
}

.two-buttons-group .button-big{
    display: inline-block !important;
    width: 172px;
    margin-top: 16px !important;
}

.margin-plus, .margin-minus {
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 13px 0;
    color: dodgerblue;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.btn {
    padding: 15px 12px;
    border: none !important;
    margin-bottom: 0;
    font-size: 14px;
    -ms-touch-action: manipulation;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 2px;
}

.form-control {
    width: 100%;
    height: 50px;
    padding: 6px 20px;
    font-size: 14px;
    color: #555;
    background-color: transparent;
    box-shadow: none !important;
    border: none;
    border-radius: 2px;
}


.create-ad-select
{
    margin-bottom: 20px;
}

.bs-actionsbox, .bs-donebutton, .bs-searchbox {
    padding: 2px 0px 4px;;
}

.margin-input-value {
    width: 100%;
}

.bootstrap-datetimepicker-widget {
    border: none;
    width: auto;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
}

.calendar-icon-addon {
    padding-left: 16px !important;
        background-color: #4a90e2;
border-radius: 0 3px 3px 0 !important;
    color: white;
    box-shadow: 2px 4px 15px rgba(74,144,214,0.1);
    cursor: pointer;
}

.picker-switch {
    text-align: center;
    pointer-events: none;
}

.datetime-input {
    background-color: transparent !important;
    border-radius: 3px 0 0 3px;
    pointer-events: none;
    border: 1px solid #e2e2e2;
    border-right: none;
}

.accordion-toggle {
    display: none;
}

.security-preview {
    margin-bottom: 64px;
}

.enable-authentificator .button-big{
    display: inline-block !important;
}

.dashboard-trade-row .col-md-1{
    text-align: left;
}

.input-error-text {
    color: red;
    margin-bottom: 20px;
}

.login-history-container {
    margin-top: 40px;
}

.h2-addition p{
    display: inline-block;
}

footer .col-md-2 {
    margin-bottom: 40px;
    line-height: 2;
}

.authentification-method-form .button-big {
    display: inline-block !important;
}

#signup-page h1 {
    padding-bottom: 100px;
    display: inline-block;
}

#trade-page .darkblue-bg h2 {
    margin-top: 194px;
    margin-left: 64px;
    margin-bottom: 52px;
}

.info-row {
    margin-bottom: 16px;
}

.specify-working-hours {
    margin: 20px 0 12px 0;
}

.button-big {
    background-color: #4a90e2 !important;
    width: 172px;
    border-radius: 2px;
    height: 48px;
    text-align: center;
    box-shadow: 2px 4px 15px rgba(74,144,214,0.1);
    display: inline-block;
    font-weight: 600;
    color: white;
    transition: 0.3s;
    padding: 12px 20px;
    margin-right: 16px;
    cursor: pointer;
}

#confirm-receivement {
    width: 220px;
}

#dashboard h1 {
    margin-top: 100px;
    margin-bottom: 8px;
}

.chat-shift {
    position: relative;
    top: -320px;
    margin-bottom: -339px;
}

.info-row-value {
    padding-left: 10px;
}

.dropdown-menu input {
    width: 100%;
    color: black;
        background-color: #f3f3f3;
}

.search-input-container {
        margin: 4px 18px 20px;
}

.search-input-container input {
    margin-bottom: 0;
}

.line-bg {
    background-image: url(../images/line-bg.png);
    background-repeat:repeat-x;
    background-position: 0 10px;
}

.info-row-bg {
    background-color: #f9f9f9;
    padding-right: 10px;
}

.red-bg {
    background-color: #ce3939;
}

.orange-bg {
    background-color: #f6865a !important;
}

.darkblue-bg {
    background: linear-gradient(90deg, #090b3d, #243986);
    background-image: url(../images/city.png);
    background-size: cover;
    color: white;
}

.ads-sort {
    margin-top: 101px;
    text-align: right;
    position: relative;
}
.id-verify-container label{
    margin-top: 24px;
}

.id-verify-container input {
    width: 100%;
    margin-bottom: 0;
    background-color: #f3f3f3;
}
.btn-cutom-addon {
    background-color: #4a90e2;
    color: white;
    transition: 0.3s;
    font-size: 14px;
}

.btn-cutom-addon:hover {
    background-color: #243783 !important;
    color: white !important;
    transition: 0.3s;
    outline: none;
}

.working-hours-separator {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    margin: 6px 0px 16px;
}

.btn-cutom-addon:focus  {
    background-color: #4a90e2 !important;
    color: white !important;
    transition: 0.3s;
    outline: none;
}

.schedule-info-container
{
    padding: 32px;
    background-color: white;
    margin-bottom: 16px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.schedule-info-container h2 {
    margin: 0 0 32px;
}

.btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: white;
    border-color: #8c8c8c;
}

.line-to-ads {
    border-right: 1px solid rgba(255,255,255,0.15);
}

.trade-status-stage .stage-name{
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.trade-status-stage {
    padding-bottom: 12px;
}

.stage-hidden {
    visibility: hidden;
}

.darkblue-bg h2{
    color: white;
    font-weight: 400;
}

.darkblue-bg a:hover {
    color:#92ccfd;
}

#home-page .darkblue-bg h2 {
    margin-top: 100px;
    margin-bottom: 110px;
}

.filter-arrow {
    display: inline-block;
    float: right;
    height: 10px;
    margin-left: 6px;
    margin-top: 6px;
}

#data {
    background-color: white;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    border-radius: 2px;
}

.cookies-warning h2 {
    margin-top: 0;
    margin-bottom: 0;
}


.cookies-warning p {
    margin: 12px 0 16px;
}

.phone-number-label {
    margin-top: 20px;
}

.country-dropdown {
    width: 100%;
}

#chat-input {
    width: 80%;
    display: inline-block;
    float: left;
    box-shadow: none;
}

#tag-line {
    font-size: 16px;
    text-align: center;
}

.mobile-show {
    display: none;
}

#have-an-account {
    margin-top: 20px;
    text-align: center;
}

.trust-untrust-or {
    margin-right: 16px;
}

.home-hover {
    margin-bottom: 0;
    position: relative;
    top: -80px;
}

.trust-untrust {
    margin-top: 52px;
    margin-bottom: 140px;
}

.button-big:hover {
    background-color: #243783 !important;
    transition: 0.3s;
}

.view-login-history {
    margin-top: 20px;
}

.button-big a {
    color: white;
    position: relative;
    top: 13px;
}

.dark-bg {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
}



#signin-page h1{
        padding-bottom: 100px;
    }

.w100 {
    width: 100%;
}

.edit-password-input {
    width: 65% !important;
    display: inline-block;
}

.password-change-btn {
    width: 29% !important;
    display: inline-block;
    margin: 0;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    height: 47px;
}

.issue-text-support
{
    margin-bottom: 0;
}

.side-menu-container {
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    width: 280px;
    height: 100vh;
    z-index: 4;
    padding: 32px 48px 32px 32px;
}

.side-menu-row {
    margin: 12px 0;
}

.side-menu-icon img{
    height: 12px;
    margin-right: 20px;
    opacity: 0.2;
}

.side-menu-separator {
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    margin: 10px 0;
}

.dropdown-toggle-search {
    width: 100%;
    text-align: left;
    border-radius: 0;
    border: 0;
    background-color: white;
    border-right: 1px solid #efefef !important;
    border-bottom: 1px solid #efefef !important;
    padding: 20px 24px;
    box-shadow: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.07);
}

.dropdown-toggle-search img {
    top: 21px;
}

.language-selection-toggle {
    display: inline-block;
    cursor: pointer;
}

.side-close {
    height: 14px;
    margin-bottom: 32px;
    cursor: pointer;
}

.side-menu-container a{
    font-weight: 400;
    color: black;
    transition: 0.3s;
}

#faq-page h1 {
    margin-bottom: 20px;
}

.faq-intro h2 {
    margin-bottom: 62px;
}

.faq-intro {
    padding-bottom: 10px;
}

#faq-page .darkblue-bg .button-big {
    margin-bottom: 60px;
}

.side-menu-icon {
    text-align: right;
}

.side-menu-item a:hover {
    color: #4a90e2;
    transition: 0.3s;
}

/******************Custom*radio******************/

.radio-custom label{
    color: black;
    font-size: 13px;
    margin-bottom: 20px;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -57px top no-repeat;
}

/******************Custom*checkbox******************/

input[type="checkbox"] {
    display:none;
}

.custom-checkbox label {
    color: black;
    font-size: 13px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) 2px top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -17px top no-repeat;
}

/**********************Chat*********************/

.chat-container {
    background-color: #f9f9f9;
    padding: 20px;
    overflow-y: scroll;
    height: 560px;
    border-top: 1px solid rgba(0,0,0,0.04);
}

.my-message {
    background-color: white;
    margin-bottom: 20px;
    margin-left: 30%;
    width: 70%;
    padding: 16px;
    border-radius: 2px;
}

.partner-message {
    background-color: #dfe9f6;
    margin-bottom: 20px;
    width: 70%;
    position: relative;
    padding: 16px;
    border-radius: 2px;
}

.chat-container .h2-addition {
    margin: 8px 0 0 0;
    display: block;
    position: relative;
}

.message-seen {
    position: relative;
    display: inline-block !important;
    float: right;
    top: -18px;
    font-size: 12px;
    color: #b9b9b9;
}

.file-attach {
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.06);
    margin-top: 16px;
}

.feedback-text p{
    display: inline-block;
    position: relative;
    top: 1px;
    margin: 0;
}

.file-attach img {
    height: 12px;
    margin-right: 8px;
}

.file-attach a {
    position: relative;
    top: 2px;
}

.important-message {
    background-color: red;
    color: white;
}

.warning-timer img{
    height: 12px;
    position: relative;
    top: -1px;
    margin-right: 8px;
}

.warning-timer{
    margin: 0;
    color: red;
    font-weight: 500;
}



.chat-warning-container {
    background-color: #ffe6e6;
    padding: 24px 24px 20px;
    border-radius: 3px 3px 0 0;
}

.chat-warning-container h2 {
    color: red;
    margin-bottom: 8px;
}


.chat-message-attached {
    background-color: #f9f9f9;
}

.chat-message-attached img {
    height: 16px;
    display: inline-block;
    position: relative;
    top: -1px;
}

.remove-attached {
    float: right;
    margin-top: 3px;
    height: 12px;
}

.chat-message-attached p {
    height: 16px;
    display: inline-block;
    margin-left: 4px;
}

.attached-container {
    padding: 12px 12px 7px;
    margin: 12px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.chat-message-input {
    padding: 12px 12px 0;
    background-color: #f9f9f9;
}

.chat-message-input input {
    margin-bottom: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.chat-send {
    background-color: limegreen !important;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(57,207,57,0.45);
    transition: 0.3s;
}

.chat-send:hover {
    background-color: #243783 !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.attach-input {
    text-align: right;
    padding: 12px 0 13px;
    width: 40px;
    display: inline-block;
    float: right;
    padding-right: 20px;
    background-color: white;
}

.attach-input img {
    height: 24px;
}

#top-image {
    background:url('../images/city.png') -25px -50px;
    z-index:0;
    height:100%;
    background-size: calc(100% + 100px);
}

/*******************Mobile*********************/

@media (max-width: 991px) { 
    .ads .col-md-1 {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    h1 {
        margin-bottom: 0;
    }
    
    .simple-inner-container {
        top: -54px;
    }
    
    .qr-image {
        max-width: 280px;
        margin-bottom: 20px;
   }
    
    .secutity-section {
        margin-bottom: 64px;
    }
    
    .filter-button {
        margin-top:36px;
    }
    
    .table-button {
        position: relative;
        top: 0;
    }
    
    .ads-sort {
        margin-top: 0;
        text-align: left;
        margin-bottom: 100px;
        max-width: 116px;
    }
    
    #sorting-menu {
        right: -24px;
        top: 32px;
    }
    
    #home-page .darkblue-bg h2 {
        margin-top: 64px;
        margin-bottom: 32px;
    }
    
    .line-to-ads {
        border-right: none;
    }
    
    footer .col-md-2 {
        margin-bottom: 0px;
        line-height: 2;
    }
    
    #footer-logo {
        margin-bottom: 32px;
    }
    
    .social-icons-container {
        margin-top: 12px;
    }
    
    .footer-copyright {
        margin-top: 32px;
    }
    
    .dropdown-info img {
        /*top: 24px;*/
    }
    
    .pros-container-right {
        padding-left: 0px;
        border-left: none;
    }
    
    .pros-container-left {
        padding-right: 0px;
        border-right: none;
    }
    
    .pros-container {
        padding: 50px 0;
    }
    .input-info-container {
    margin-top: 0px;
}
    .pros-container-center {
        padding: 0px;
    }
    
    .feedback-text img {
        /*margin-right: 260px;*/
    }
    
    .workingday-name
    {
        padding-bottom: 20px;
        display: inline-block;
    }
    
    .simple-page-container {
        padding: 16px;
    }
    
    .create-ad-form textarea {
        height: 152px;
    }
    
    #signin-page h1{
        padding-bottom: 100px;
    }
    .nav-tabs>li>a {
        margin-right: 4px;
        margin-bottom: 5px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    
    .create-ad-mobile-margin {
        margin-top: 16px !important;
    }
    
    .edit-password-input {
    width: 68% !important;
}

.password-change-btn {
    width: 30% !important;
}

    .security-option-row .col-md-4 {
        text-align: left;
    }
    
    .filter-dropdown {
        border: 1px solid transparent !important;
    }
    
    .dashboard-trade-row .col-md-1 {
        margin: 0;
    }
    
    #home-page .bootstrap-select.form-control:not([class*=col-]) {
    width: 100%;
    margin-top: -1px;
}
    
    #home-page .bootstrap-select>.dropdown-toggle {
    border-right: none !important;
    border-top: 1px solid lightgray !important;
}

    
    .h2-filter-link {
        display: block;
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }
    
    .dropdown-toggle {
        width: 100%;
        padding-left: 20px;
    }
    
    #trusted-page h2 {
        width: 100%;
    }
    
    .wallet-balance {
        font-weight: 100;
        padding-bottom: 30px;
        display: inline-block;
    }
    
    input {
        width: 100%;
    }
    
    .left-input {
        width: 100% !important;
    }
    
    .rules-guides-title {
        margin-top: 0 !important;
    }
    
    .create-ad-form {
        margin-bottom: -40px;
    }
    
    .pros-info-inner {
    padding-top: 0px;
    border-top: none;
}

    .signup-form {
    top: -48px;
    margin-bottom: -48px;
}
    h2.rules-guides-title {
        margin: 32px 0 0 0 !important;
    }
    
    .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
        border-color: transparent !important;
    }
    
    .btn-default.focus, .btn-default:focus{
        border-color: transparent !important;
    }
    
    .date-range-selection {
        margin-bottom: 0px;
    }
    
    #trusted-h1 {
        margin-bottom: 44px;
        display: block;
    }
    
    .create-ad-form-mob-indent {
        top: 0 !important;
        margin-top: 32px !important;
    }
    
    .btn-default:hover {border-color: transparent !important;}
    
    .input-mtop-20 {
        margin-top: auto;
    }
    
    .top-menu-adaptive {
        min-height: 112px;
    }
    
    #notifications-page h1 {
        margin-bottom: 50px;
        text-align: left;
    }
    
    .ads-search-container {
        padding: 16px;
    }
    
    .pagination-disabled {
        margin: auto 6px;
    }
    
    .mobile-hidden {
        display: none;
    }
    
    .mobile-show {
        display: block;
    }
    
    #warning-sign-in {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    .learn-more-title {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    
    .your-advertisement-button {
    margin-top: 0px;
}
    
    .pagination-last {
        border-right: none;
    }
    
    .mobile-no-margin {
    margin: 0 !important;
}
    
    .pagination-first {
        border-left: none;
        padding: 14px !important;
    }
    
    .dropdown-toggle {
        border-right: none;
        border-top: 1px solid transparent;
    }
    
    h1 {
        margin-top: 48px !important;
    }
    
    .profile-info-container {
        border-color: white;
    }
    
    .g-recaptcha {
        transform: scale(0.84);
        transform-origin: 0 0;
    }
    
    #profile-intro {
        margin-top: 40px;
    }
    
    .trust-untrust-or {
        display: none;
    }
    
    .button-big, #confirm-receivement {
        width: 100%;
        margin-right: 0
    }
    
    .trust-untrust .button-big {
        margin-bottom: 20px;
        width: 100%;
    }
    
    #stats-left {
        margin-right: 0px !important;
    }
    
    #stats-center {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .create-ad-h1 {
        margin-bottom: 0;
        padding-bottom: 30px !important;
    }
    
    .feedback-text p {
        width: 100%;
    }
    
    .create-ad-form {
        top: -47px;
    }
    
    .auth-container .simple-page-container {
        top: -47px;
    }
    
    #stats-right {
        margin-left: 0px;
    }
    
    .forgot-password-section {
        text-align: left;
    }
    
    .trust-untrust {
        margin-bottom: 80px;
    }
    
    .h2-addition {
        display: block;
        margin: 10px 0;
    }
    
    img.collapse-arrow {
        top: 25px;
    }
    
    .feedback-date, .info-row-bg {
        text-align: left;
        font-weight: 400;
        font-size: 12px;
        color: #b9b9b9;
    }
    
    .two-buttons-group .button-big{
        width: 100%;
    }

    .feedback-text {
        margin-bottom: 12px;
    }
    
    .feedback-text p{
        margin-top: 12px;
    }
    
    #p-position p {
        position: relative;
        top: -12px;
        text-align: left;
        margin: 0;
    }

    .info-right h2 {
        margin-top: 64px;
        padding-top: 0;
        margin-bottom: 24px;
        border-top: none;
    }
    
    #trade-page-seller-info {
        padding-left: 0px;
    }
    
    .info-row-value {
        padding-left: 0px;
    }
    
    .line-bg {
        background: none;
    }
    
    
    .simple-inner-container {
        padding: 16px;
    }
    #why-nano {
        text-align: center;
        padding: 0px 0 36px 0;
    }
    
    .dropdown-info h2 {
        max-width: 93%;
    }
    
    .my-message,.partner-message {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        font-size: 13px;
    }
    
    #top-image {
        background: url(../images/city.png) 0 0;
    }

    .dropdown-info {
        padding: 16px;
    }
    
    .form-custom, .dropdown-info {
        padding: 16px;
    }
    
    .ads {
        margin: 0px 16px;
        padding: 22px 0px;
    }
    
    .ads-heads {
        padding: 16px;
    }
    
    .form-custom form {
        margin-bottom: 12px;
        padding-bottom: 12px;
    }
    
    .profile-info-container {
        padding: 8px 16px 0;
    }
    
    .profile-stats-container {
        padding: 24px 16px 12px 16px;
    }
    
    #trade-page .darkblue-bg h2 {
        margin-top: 0px;
        margin-left: 0;
        margin-bottom: 52px;
    }
    
    .chat-shift {
        top: 0;
    }
    
    .timeline-container {
        margin-left: 0;
    }
    
    .cookies-warning {
        width: 100%;
        padding: 16px;
    }
    
    .trade-canceled {
        font-size: 14px;
        color: #ce3939;
        font-weight: 500;
        margin-top: 0px;
        margin-left: 0;
        margin-bottom: 64px;
        position: relative;
        top: -32px;
    }
    
    .message-seen {
        position: relative;
        display: inline-block !important;
        float: none;
        top: 0;
        font-size: 12px;
        color: #b9b9b9;
        margin-bottom: 0;
    }
    
    .notifications-pagination {
    margin-top: 16px;
}
    
    .trade-status-title {
        font-weight: 400;
        color: #b9b9b9;
        margin-bottom: 32px !important;
    }
    
    .small-message-container {
    top: -28px;
}
    
    #trade-page h1 {
        padding-bottom: 50px;
    }
    
    .dropdown-menu li {
        list-style-type: none !important;
    }
    
    .trade-info-shift {
        top: -28px;
    }
    
    .chat-shift {
        margin-bottom: 0px;
    }
    
    .gc-container {
        width: auto;
        margin: 0 auto;
    }
    
    .chat-message-input {
        padding: 16px 16px 0;
        background-color: #f9f9f9;
    }
    
    #data, #feedback-form {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .create-ad-form-mob-indent {
        margin-bottom: 40px;
    }
    
    .attached-container {
        margin: 16px;
    }
    
    #menu-hello {
        text-align: left
    }
    
    #language-icons {
        margin-left: 30px;
    }
    
    .hello-balance-notifications {
        padding-top: 50px;
        text-align: left;
    }
    
    #globe-icon {
        margin-left: 20px;
    }
    
    #menu-notifications {
        right: 0px;
        top: 50px !important;
        cursor: pointer;
    }
    
    #wallet {
        right: 40px;
        top: 50px;
    }
    
    div .sign-in {
        right: 80px !important;
    }
    
    #language-menu {
        left: -34px;
        top: 40px;
        text-align: center;
    }
    
    .notifications-custom-popup {
        width: 280px;
        right: 20px;
    }
    
    .side-menu-row {
        margin: 8px 0;
    }
    
    .side-menu-separator {
        margin: 6px 0;
    }
    
    #top-image {
        background-size: cover;
    }
}

/* Mobiloitte */
.p-err{
    color: red;
}
.file-text{
    background-color: #f3f3f3;
}
.file-text .file-span{
    display: inline-block;
    margin-top: 12px;
    margin-left: 15px;
    color: #b9b9b9;
}
.file-text .file-input, .trade-text .file-input{
    opacity: 0;
    position: absolute;
}
.file-text .file-label, .trade-text .file-label{
    margin: 0;
}

.main_loader {
    display: table; 
    height: 100vh; 
    width: 100%;
}
.main_loader center{
    display: table-cell; 
    height: 100%; 
    vertical-align: middle; 
    text-align: center;
}

.pointer_css{
    cursor: pointer;
}

.text-yellow {
    color: #f6865a !important;
}

.text-upper-case {
    text-transform: uppercase;
}

.btn-size {
    width: 250px;
}
.auto-input-list {
    border: 1px solid #f3f3f3; 
    margin-bottom:0px; background-color: #f3f3f3;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.btn-dist .button-big {
    margin-right: 4px!important;
}

.loader-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 250px);
    color: '#1b1f3a';
}

.loader-other {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 550px);
    color: '#1b1f3a';
}

.loader-noti {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(15vh - 40px);
    color: '#1b1f3a';
}

.online-gray {
    margin-left: 4px;
}

.online-orange {
    margin-left: 4px;
}

a.pagination-before {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}

/* 404 page nou found css */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #172176;
}
.error-container > span > span {
  display: inline-block;
  position: relative;
}
.error-container > span:nth-of-type(1) {
  perspective: 1000px;
  perspective-origin: 500% 50%;
  color: #172176;
}
.error-container > span:nth-of-type(1) > span {
  transform-origin: 50% 100% 0px;
  transform: rotateX(0);
  animation: easyoutelastic 4s infinite;
}

.error-container > span:nth-of-type(3) {
  perspective: none;
  perspective-origin: 50% 50%;
  color: #172176;
}
.error-container > span:nth-of-type(3) > span {
  transform-origin: 100% 100% 0px;
  transform: rotate(0deg);
  animation: rotatedrop 4s infinite;
}
@keyframes easyoutelastic {
  0% {
    transform: rotateX(0);
  }
  9% {
    transform: rotateX(210deg);
  }
  13% {
    transform: rotateX(150deg);
  }
  16% {
    transform: rotateX(200deg);
  }
  18% {
    transform: rotateX(170deg);
  }
  20% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes rotatedrop {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(0);
  }
}

.notfound-h {
    text-align: center;
    margin: 30px 15px;
}